[Desktop Entry]
Version=1.0
Type=Application
Name=Kill Display Session
Comment=
Exec=kill_display_session
Icon=system-shutdown
Categories=System;
Path=
StartupNotify=false
