[Desktop Entry]
Version=1.0
Type=Application
NotShowIn=KDE;
Name=conky
Comment=
Exec=termux-xfce-conky
TryExec=termux-xfce-conky
Icon=conky
Path=
Terminal=false
StartupNotify=false
